In [1]:
import pandas as pd
import seaborn

# DEF

In [15]:
HOM = pd.read_csv(
    '../../footprints_hint/fp_HOM.bed',
    sep='\t',
    names=['chr', 'start', 'end', 'name', 'score', 'strand', 'empty'])
WT = pd.read_csv(
    '../../footprints_hint/fp_WT.bed',
    sep='\t',
    names=['chr', 'start', 'end', 'name', 'score', 'strand', 'empty'])
HOM = HOM.drop(['empty'], axis=1)
WT = WT.drop(['empty'], axis=1)

In [30]:
WT[WT['score']>700].shape

(6234, 6)

In [31]:
HOM[HOM['score']>700].shape

(7387, 6)

In [32]:
WT = WT[WT['score']>700]
HOM = HOM[HOM['score']>700]

In [33]:
def overlap(chrom, start, end, df):
    return df[(df['chr'] == chrom) & ((
        (df['start'] <= start) & (start <= df['end'])) | (
            (start <= df['start']) & (df['start'] <= end)))].shape[0] > 0

In [34]:
mask = WT.apply(lambda row:overlap(row['chr'], row['start'], row['end'], HOM), axis=1)

In [35]:
1-sum(mask)/len(mask)

0.17597048444016683

In [36]:
WT_filtered = WT[~mask]

In [38]:
WT_filtered.shape

(1097, 6)

In [39]:
WT_filtered = WT_filtered.reset_index()
WT_filtered.to_csv(
    '../../footprints_hint/hint_def.bed',
    sep='\t',
    header=False,
    index=False,
    columns=['chr', 'start', 'end', 'index', 'score', 'strand'])

In [ ]:
!annotatePeaks.pl ../../footprints_hint/hint_def.bed mm10 \
 > ../../footprints_hint/hint_def_annotated.txt -cpu 10

In [139]:
WT_filtered[(WT_filtered['chr']=='chr12')&(WT_filtered['start']>64965708)&(WT_filtered['end']<64965777)]

     index    chr     start       end       score strand
525   4116  chr12  64965730  64965755 -118.502663      +

In [140]:
HOM[(HOM['chr']=='chr12')&(HOM['start']>64965708)&(HOM['end']<64965777)]

        chr     start       end      score strand
3547  chr12  64965730  64965755 -98.356094      +