In [2]:
import pandas as pd

# DEF merge

In [6]:
pydnase_def = pd.read_csv(
    '../../footprints_pydnase/pydnase_def.bed',
    sep='\t',
    names=['chr', 'start', 'end', 'id', 'score', 'strand'])
hint_def = pd.read_csv(
    '../../footprints_hint/hint_def.bed',
    sep='\t',
    names=['chr', 'start', 'end', 'id', 'score', 'strand'])

In [5]:
pydnase_def.head()

    chr    start      end  id      score strand
0  chr1  4857657  4857678   0 -37.650356      +
1  chr1  4857713  4857724   1 -36.783672      +
2  chr1  4857740  4857751   2 -31.460691      +
3  chr1  7089080  7089105  22 -40.151836      +
4  chr1  7088747  7088770  23 -39.563774      +

In [10]:
def overlap(chrom, start, end, df):
    return df[(df['chr'] == chrom) & ((
        (df['start'] <= start) & (start <= df['end'])) | (
            (start <= df['start']) & (df['start'] <= end)))].shape[0] > 0

In [16]:
mask = pydnase_def.apply(lambda row:overlap(row['chr'], row['start'], row['end'], hint_def), axis=1)

In [17]:
intersect = pydnase_def[mask]

In [19]:
intersect.head()

     chr      start        end   id      score strand
0   chr1    4857657    4857678    0 -37.650356      +
1   chr1    4857713    4857724    1 -36.783672      +
2   chr1    4857740    4857751    2 -31.460691      +
68  chr1   93635874   93635899  566 -36.489204      +
97  chr1  119837506  119837531  811 -28.076332      +

In [20]:
intersect.to_csv(
    '../../analysis_results/overlap_pydnase_hint_def.bed',
    sep='\t',
    header=False,
    index=False,
)

In [21]:
!annotatePeaks.pl ../../analysis_results/overlap_pydnase_hint_def.bed mm10 \
 > ../../analysis_results/overlap_pydnase_hint_def.txt -cpu 10

	Peak file = ../../analysis_results/overlap_pydnase_hint_def.bed
	Genome = mm10
	Organism = mouse
	Will use up to 10 CPUs in parts that can use them
	Peak/BED file conversion summary:
		BED/Header formatted lines: 116
		peakfile formatted lines: 0
		Duplicated Peak IDs: 0

	Peak File Statistics:
		Total Peaks: 116
		Redundant Peak IDs: 0
		Peaks lacking information: 0 (need at least 5 columns per peak)
		Peaks with misformatted coordinates: 0 (should be integer)
		Peaks with misformatted strand: 0 (should be either +/- or 0/1)

	Peak file looks good!

	Reading Positions...
	-----------------------
	Finding Closest TSS...
	Annotating:...................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	0.0	19233443	-0.918	0.886
		miRNA	0.0	24427	-0.002	0.001
		ncRNA	0.0	3213464	-0.199	0.148
		TTS	1.0	25876047	-0.249	0.406
		pseudo	0.0	492034	-0.032	0.023
		Exon	1.0	32608431	-0.582	0.584
		Intron	6.0	903650082	-2.790	32.946
		Intergenic	8.0	1510886883	-3.116	75.302
		Promoter	99.0	28485804	6.242	-398.156
		5UTR	1.0	2166094	3.330	-2.357
		snoRNA	0.0	19	-0.000	0.000
		rRNA	0.0	5631	-0.000	0.000
	NOTE: If this part takes more than 2 minutes, there is a good chance
		your machine ran out of memory: consider hitting ctrl+C and rerunning
		the command with "-noann"
	To capture annotation stats in a file, use "-annStats <filename>" next time
	Annotating:...................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	0.0	19233443	-0.918	0.886
		Other	0.0	6884334	-0.397	0.316
		RC?	0.0	10706	-0.001	0.000
		RNA	0.0	110171	-0.007	0.005
		miRNA	0.0	24427	-0.002	0.001
		ncRNA	0.0	3213464	-0.199	0.148
		TTS	1.0	25876047	-0.248	0.405
		LINE	0.0	501708487	-4.894	25.664
		LINE?	0.0	7832	-0.001	0.000
		srpRNA	0.0	41980	-0.003	0.002
		SINE	0.0	187143471	-3.361	8.923
		RC	0.0	64219	-0.004	0.003
		tRNA	0.0	258440	-0.017	0.012
		DNA?	0.0	138129	-0.009	0.006
		pseudo	0.0	492034	-0.032	0.023
		DNA	0.0	27322292	-1.181	1.261
		Exon	1.0	32608431	-0.582	0.583
		Intron	3.0	573596629	-3.133	20.998
		Intergenic	7.0	756947187	-2.311	22.511
		Promoter	99.0	28485804	6.243	-398.200
		5UTR	1.0	2166094	3.331	-2.357
		snoRNA	0.0	19	-0.000	0.000
		LTR?	0.0	184851	-0.012	0.008
		scRNA	0.0	557800	-0.036	0.026
		CpG-Island	2.0	3045864	3.839	-4.728
		Low_complexity	0.0	17761033	-0.865	0.818
		LTR	2.0	281552933	-2.692	8.908
		Simple_repeat	0.0	53122449	-1.803	2.464
		snRNA	0.0	228551	-0.015	0.010
		Unknown	0.0	1220812	-0.079	0.056
		SINE?	0.0	29214	-0.002	0.001
		Satellite	0.0	3577499	-0.220	0.164
		rRNA	0.0	160465	-0.011	0.007
	Counting Tags in Peaks from each directory...
	Organism: mouse
	Loading Gene Informaiton...
	Outputing Annotation File...
	Done annotating peaks file

# WT Run2 only merge

In [3]:
pydnase_WT = pd.read_csv(
    '../../footprints_pydnase/WT_footprint/Run2_Lhx_flox+.combined.bam.out_filtered.bed.WellingtonFootprints.FDR.0.01.bed',
    sep='\t',
    names=['chr', 'start', 'end', 'name', 'score', 'strand'])
hint_WT = pd.read_csv(
    '../../footprints_hint/fp_WT.bed',
    sep='\t',
    names=['chr', 'start', 'end', 'name', 'score', 'strand', 'empty'])

In [5]:
hint_WT = hint_WT[hint_WT['score']>700]

In [6]:
def overlap(chrom, start, end, df):
    return df[(df['chr'] == chrom) & ((
        (df['start'] <= start) & (start <= df['end'])) | (
            (start <= df['start']) & (df['start'] <= end)))].shape[0] > 0

In [7]:
mask = pydnase_WT.apply(lambda row:overlap(row['chr'], row['start'], row['end'], hint_WT), axis=1)

In [8]:
1-sum(mask)/len(mask)

0.7121896710877909

In [9]:
pydnase_WT_filtered = pydnase_WT[mask]

In [10]:
pydnase_WT_filtered.shape

(5924, 6)

In [16]:
pydnase_WT_filtered.to_csv(
    '../../analysis_results/overlap_pydnase_hint_WT.bed',
    sep='\t',
    header=False,
    index=False,
)

In [17]:
!annotatePeaks.pl ../../analysis_results/overlap_pydnase_hint_WT.bed mm10 \
 > ../../analysis_results/overlap_pydnase_hint_WT.txt -cpu 10

	Peak file = ../../analysis_results/overlap_pydnase_hint_WT.bed
	Genome = mm10
	Organism = mouse
	Will use up to 10 CPUs in parts that can use them
	Peak/BED file conversion summary:
		BED/Header formatted lines: 5924
		peakfile formatted lines: 0
		Duplicated Peak IDs: 0

	Peak File Statistics:
		Total Peaks: 5924
		Redundant Peak IDs: 0
		Peaks lacking information: 0 (need at least 5 columns per peak)
		Peaks with misformatted coordinates: 0 (should be integer)
		Peaks with misformatted strand: 0 (should be either +/- or 0/1)

	Peak file looks good!

	Reading Positions...
	-----------------------
	Finding Closest TSS...
	Annotating:.....................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	8.0	20043017	-2.447	23.941
		miRNA	0.0	24864	-0.076	0.054
		ncRNA	8.0	3372538	0.124	-0.794
		TTS	8.0	27004497	-2.877	36.874
		pseudo	0.0	525084	-1.100	1.143
		Exon	33.0	34011073	-1.166	16.615
		Intron	239.0	942500360	-3.102	1672.610
		Intergenic	374.0	1661871012	-3.274	4028.634
		Promoter	5131.0	29755103	6.308	-20851.897
		5UTR	123.0	2269945	4.638	-281.792
		snoRNA	0.0	19	-0.000	0.000
		rRNA	0.0	5631	-0.018	0.012
	NOTE: If this part takes more than 2 minutes, there is a good chance
		your machine ran out of memory: consider hitting ctrl+C and rerunning
		the command with "-noann"
	To capture annotation stats in a file, use "-annStats <filename>" next time
	Annotating:.....................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	8.0	20043017	-2.447	23.925
		Other	0.0	7955052	-4.198	17.335
		RC?	0.0	10979	-0.034	0.024
		RNA	0.0	114021	-0.320	0.248
		miRNA	0.0	24864	-0.076	0.054
		ncRNA	8.0	3372538	0.125	-0.795
		TTS	8.0	27004497	-2.877	36.852
		LINE	0.0	543598426	-10.530	1319.415
		LINE?	0.0	8168	-0.025	0.018
		srpRNA	0.0	43307	-0.130	0.094
		SINE	1.0	196538593	-8.740	437.732
		RC	0.0	65629	-0.193	0.143
		tRNA	6.0	266393	3.372	-10.348
		DNA?	0.0	142206	-0.389	0.309
		pseudo	0.0	525084	-1.099	1.143
		DNA	0.0	28690203	-6.002	62.758
		Exon	33.0	34011073	-1.165	16.596
		Intron	115.0	598475200	-3.501	1052.215
		Intergenic	248.0	828342670	-2.861	1327.982
		Promoter	5131.0	29755103	6.308	-20854.122
		5UTR	123.0	2269945	4.638	-281.844
		snoRNA	0.0	19	-0.000	0.000
		LTR?	0.0	192563	-0.505	0.419
		scRNA	0.0	602998	-1.209	1.312
		CpG-Island	202.0	3192146	4.862	-492.487
		Low_complexity	0.0	19396289	-5.443	42.355
		LTR	35.0	313011711	-4.282	583.103
		Simple_repeat	5.0	57546348	-4.646	107.049
		snRNA	0.0	237228	-0.600	0.516
		Unknown	0.0	2407423	-2.642	5.241
		SINE?	0.0	29758	-0.091	0.065
		Satellite	1.0	4525445	-3.300	7.470
		rRNA	0.0	166488	-0.446	0.362
	Counting Tags in Peaks from each directory...
	Organism: mouse
	Loading Gene Informaiton...
	Outputing Annotation File...
	Done annotating peaks file