In [148]:
import pandas as pd

# DEF

In [149]:
HOM = pd.read_csv(
    '../../footprints_pydnase/HOM_footprints/Run2_Meox_Cre+_Lhx_floxdel.combined.bam.optimal_peak.narrowPeak_filter.bed.WellingtonFootprints.FDR.0.01.bed',
    sep='\t',
    names=['chr', 'start', 'end', 'name', 'score', 'strand'])
WT = pd.read_csv(
    '../../footprints_pydnase/WT_footprint/Run2_Lhx_flox+.combined.bam.out_filtered.bed.WellingtonFootprints.FDR.0.01.bed',
    sep='\t',
    names=['chr', 'start', 'end', 'name', 'score', 'strand'])
HOM = HOM[['chr', 'start', 'end', 'score', 'strand']]
WT = WT[['chr', 'start', 'end', 'score', 'strand']]
HOM.drop_duplicates(keep='first', inplace=True)
WT.drop_duplicates(keep='first', inplace=True)

In [152]:
def overlap(chrom, start, end, df):
    return df[(df['chr'] == chrom) & ((
        (df['start'] <= start) & (start <= df['end'])) | (
            (start <= df['start']) & (df['start'] <= end)))].shape[0] > 0

In [153]:
mask = WT.apply(lambda row:overlap(row['chr'], row['start'], row['end'], HOM), axis=1)

In [143]:
1-sum(mask)/len(mask)

0.44738179969496694

In [144]:
WT_filtered = WT[~mask]

In [145]:
WT_filtered.head()

     chr    start      end      score strand
0   chr1  4857657  4857678 -37.650356      +
1   chr1  4857713  4857724 -36.783672      +
2   chr1  4857740  4857751 -31.460691      +
22  chr1  7089080  7089105 -40.151836      +
23  chr1  7088747  7088770 -39.563774      +

In [146]:
WT_filtered = WT_filtered.reset_index()
WT_filtered.to_csv(
    '../../footprints_pydnase/pydnase_def.bed',
    sep='\t',
    header=False,
    index=False,
    columns=['chr', 'start', 'end', 'index', 'score', 'strand'])

In [147]:
!annotatePeaks.pl ../../footprints_pydnase/pydnase_def.bed mm10 \
 > ../../footprints_pydnase/pydnase_def_annotated.txt -cpu 10

	Peak file = ../../footprints_pydnase/pydnase_def.bed
	Genome = mm10
	Organism = mouse
	Will use up to 10 CPUs in parts that can use them
	Peak/BED file conversion summary:
		BED/Header formatted lines: 2640
		peakfile formatted lines: 0
		Duplicated Peak IDs: 0

	Peak File Statistics:
		Total Peaks: 2640
		Redundant Peak IDs: 0
		Peaks lacking information: 0 (need at least 5 columns per peak)
		Peaks with misformatted coordinates: 0 (should be integer)
		Peaks with misformatted strand: 0 (should be either +/- or 0/1)

	Peak file looks good!

	Reading Positions...
	-----------------------
	Finding Closest TSS...
	Annotating:.....................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	5.0	20043017	-1.959	9.157
		miRNA	0.0	24864	-0.034	0.024
		ncRNA	7.0	3372538	1.097	-3.016
		TTS	16.0	27004497	-0.711	3.803
		pseudo	0.0	525084	-0.594	0.509
		Exon	22.0	34011073	-0.585	3.596
		Intron	284.0	942500360	-1.687	404.896
		Intergenic	312.0	1661871012	-2.369	1394.515
		Promoter	1915.0	29755103	6.052	-7108.162
		5UTR	79.0	2269945	5.165	-210.218
		snoRNA	0.0	19	-0.000	0.000
		rRNA	0.0	5631	-0.008	0.005
	NOTE: If this part takes more than 2 minutes, there is a good chance
		your machine ran out of memory: consider hitting ctrl+C and rerunning
		the command with "-noann"
	To capture annotation stats in a file, use "-annStats <filename>" next time
	Annotating:.....................
		Annotation	Number of peaks	Total size (bp)	Log2 Ratio (obs/exp)	LogP enrichment (+values depleted)
		3UTR	5.0	20043017	-1.959	9.151
		Other	0.0	7955052	-3.127	7.725
		RC?	0.0	10979	-0.015	0.011
		RNA	0.0	114021	-0.151	0.111
		miRNA	0.0	24864	-0.034	0.024
		ncRNA	7.0	3372538	1.098	-3.018
		TTS	16.0	27004497	-0.711	3.798
		LINE	10.0	543598426	-5.720	538.195
		LINE?	0.0	8168	-0.011	0.008
		srpRNA	0.0	43307	-0.059	0.042
		SINE	11.0	196538593	-4.115	156.700
		RC	0.0	65629	-0.089	0.064
		tRNA	1.0	266393	1.953	-1.480
		DNA?	0.0	142206	-0.186	0.138
		pseudo	0.0	525084	-0.594	0.509
		DNA	0.0	28690203	-4.864	27.968
		Exon	22.0	34011073	-0.584	3.590
		Intron	180.0	598475200	-1.689	229.396
		Intergenic	202.0	828342670	-1.991	414.847
		Promoter	1915.0	29755103	6.052	-7108.990
		5UTR	79.0	2269945	5.166	-210.251
		snoRNA	0.0	19	-0.000	0.000
		LTR?	0.0	192563	-0.247	0.187
		scRNA	1.0	602998	0.774	-0.815
		CpG-Island	136.0	3192146	5.457	-388.285
		Low_complexity	2.0	19396289	-3.233	13.581
		LTR	48.0	313011711	-2.661	183.178
		Simple_repeat	3.0	57546348	-4.217	46.010
		snRNA	1.0	237228	2.120	-1.582
		Unknown	0.0	2407423	-1.738	2.335
		SINE?	0.0	29758	-0.041	0.029
		Satellite	0.0	4525445	-2.432	4.392
		rRNA	1.0	166488	2.631	-1.903
	Counting Tags in Peaks from each directory...
	Organism: mouse
	Loading Gene Informaiton...
	Outputing Annotation File...
	Done annotating peaks file

In [139]:
WT_filtered[(WT_filtered['chr']=='chr12')&(WT_filtered['start']>64965708)&(WT_filtered['end']<64965777)]

     index    chr     start       end       score strand
525   4116  chr12  64965730  64965755 -118.502663      +

In [140]:
HOM[(HOM['chr']=='chr12')&(HOM['start']>64965708)&(HOM['end']<64965777)]

        chr     start       end      score strand
3547  chr12  64965730  64965755 -98.356094      +